.bg-nav{
	background: #7b4397;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.mt-100{
margin-top:100px;
}
.mt-2{
margin-top:2px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.contact{
	display:block;
	text-align:center;
	padding:20px;
}

body{
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#about
{
    text-align:centre;
    background:#b3cce6;
    padding:80px;
}
#team
{
    text-align:centre;
    background:#d9e6f2;
}
#web
{
    text-align:centre;
    background:#b5cce3;
    padding:60px;
}
.container
{
    text-align:center;
}
.header
{
    padding-top:60px;
    color:#fff
    font-size:40px;
    margin:auto;
    line-height:80px;

}
.sb-container
{
    max-width:1500px;
    margin:auto;
    padding:60px 0;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

}
.teams
{
    margin:10px;
    max-width:30%;
    padding:22px;
    cursor:pointer;
    transition: 0.4s;
    box-sizing:border-box;
}
.name
{
    padding:12px;
    font-weight: bold;
    font-size;16px;
    text-transform:uppercase;
}
.desig
{
    font-style:italic;
    color:#888
    justify-content: center;
}
.p3{
  background-color:white;
  texxt-align:center;
  width:50%;height:150%;
  padding-top:5px;padding-bottom:40px;
  margin-left:500px;margin-top:30px;margin-right:500px;
  color:black;

}
.p4{
  background-color:white;
  position:center;
  width:50%;height:150%;
  padding-top:5px;padding-bottom:30px;
  margin-left:500px;margin-top:10px;margin-right:500px;margin-bottom:30px;
  color:black;

}